/* html {
  padding: 0;
  margin: 0;
  position: relative;
} */

body {
  line-height: 1.8;
  color:#00ff9d;
  background-color: rgb(0, 0, 0);
}

@media(min-width:768px) {

  html,
  body {
    height: 100%;
  }
}

.page-header2 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #000000;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #00ff9d;
}

#wrapper {
  padding-right: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 250px;
}

#nav-side-wrapper {
  z-index: 1000;
  position: fixed;
  right: 250px;
  width: 0;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #nav-side-wrapper {
  width: 250px;
}

#content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-left: -250px;
}

.nav-side {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-side li {
  line-height: 40px;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color:#00ff9d;
}

p {
  color:rgb(255, 255, 255);

}

.navbar {
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
  z-index: 9999;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 10px 0 rgb(2, 255, 154);
}

.navbar-nav li a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: rgb(2, 255, 154)!important;
  letter-spacing: 4px;
  transform: translate(0, -2px);
  background: transparent !important;
}


@media(min-width:768px) {
  #wrapper {
    padding-right: 250px;
  }

  #wrapper.toggled {
    padding-right: 0;
  }

  #nav-side-wrapper {
    width: 0;

  }

  #wrapper.toggled #nav-side-wrapper {
    width: 250px;

  }

  #content-wrapper {
    position: relative;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-left: 0;
  }
}

.jumbotron {
  background-image: url(/assets/picture/deskoffice.jpg   );
}

.jumbotron .container h1 {
  color: rgb(2, 255, 154);
  text-shadow: 3px 5px 8px rgb(0, 0, 0);
}
.container h2 {
  color: rgb(2, 255, 154);
  text-shadow: 3px 5px 8px rgb(0, 0, 0);
}
.jumbotron .container h3 {
  color: rgb(2, 255, 154);
  text-shadow: 3px 5px 8px rgb(0, 0, 0);
}
.jumbotron .container p {
  margin-top: 30px;
  color: rgb(2, 255, 154);
}

.jumbotron .container .btn {
  margin: 15px 10px;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-color: #000000;
  -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 15px -3px rgb(2, 255, 154);
}

.vertical-centre {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */

  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  color: white;
  display: flex;
  align-items: center;
}

section {
  position: relative;
}

section .container {
  padding-top: 60px;
  padding-bottom: 100px;
}

section#portfolio {
  background-image: url(/assets/picture/blac3.jpg);
}

section#Extra {
  background-image: url(/assets/picture/blac2.jpg);
}

section#portfolio .container h1,
section#portfolio .container h3 {
  color: white;
  border-color: #000000 2px solid;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

section#Extra .container h1,
section#Extra .container h3 {
  border-color: #000000 2px solid;
  color: white;
  text-shadow: 1px 2px 6px rgba(0, 0, 0, 0.8);
}

section#contact .container {
  padding-bottom: 70px;
}

section#contact .container.row {
  padding-left: 10%;
  padding-right: 10%;
}

section#contact .glyphicon {
  color: #1abc9c;
  padding-right: 8px;
}

#form-feedback {
  color: #1abc9c;
  opacity: 0;
  margin: 5px;
  margin-right: 80px;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.bgd {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

@media(max-width: 768px) {
  .bgd {
    background-size: auto 130%;
  }
}

/* unused shadowing between sections, caused lag */
.shadow {
  -webkit-box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.8),
    inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.8),
    inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 100px 100px -100px rgba(0, 0, 0, 0.8),
    inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
}

.shadow:first-of-type {
  -webkit-box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 -100px 100px -100px rgba(0, 0, 0, 0.8);
}

.row {
  padding-top: 20px;
}

/* .btn {
  color: rgb(255, 255, 255);
  margin: 5px 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
} */

/* .btn-lg i {
  padding-right: 8px;
}

.btn-success {
  background-color: #000000 !important;
}

.btn-success:hover {
  background-color: #000000 !important;
}

.btn-success.disabled {
  background-color: #000000 !important;
} */

a {
  color: rgb(0, 0, 0);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #00ff9d;
  text-decoration: none;
  transform: translate(0, -2px);
}

a.top {
  display: block;
  padding: 10px;
}

a.top:hover {
  letter-spacing: 2px;
  transform: translate(0, -10px);

}

.thumbnail {
  color: black;
  padding: 0 0 15px 0;
  margin: 15px;
  border: 5px solid #000000;
  background-color: #00ff9dd3;
  -webkit-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px -3px rgba(0, 0, 0, 0.5);
}

.thumbnail img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}

.submitform{
  color:rgb(255, 255, 255);
  font-size: 20px;
}

footer {
  padding-bottom: 20px !important;
  background: rgba(0, 0, 0, 0.235);
  color: rgb(255, 255, 255);
}